@import "tailwindcss";

* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
  }

 body {
    height: 100vh;
    width: 100vw;
    margin: 0;
  }

  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
  }

html{
    transition: 0.3s ease-in-out;
}

.NavParentBox{
    position:sticky;
    top:0;
    left:0;
}

button{
    padding:0;
    justify-items: center;
    align-items: center;
}

button:hover{
    outline: 1px solid white;
    outline-offset: -2px;
    border:none;
}

#searchbox:focus{
    outline: none;
}

img{
    height: 100%;
}

.HomeCard{
    padding-left:5px;
    padding-right: 5px;
}

.title{
    color:red;
    
}

#WordSaveButton{
    padding:5px;
    margin-left:auto;
    margin-right:auto;
    background-color: #0d1117;
    text-wrap: nowrap;
}

.RemoveWordbtn{
    background-color: #0d1117;
    padding-left:2px;
    padding-right: 2px;
}

a:visited, a:hover{
    color: white;
}

